@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Amiko";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/amiko-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/alumni-sans-v18-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  max-width: 1600px;
  height: 136px;
  box-shadow: 0px 5px 10px 0px #00000040;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  padding-top: 25px;
  padding-left: 48px;
  padding-right: 32px;
}

.logo {
  font-size: 20px;
}

.info {
  padding-top: 5px;
  font-size: 45px;
}

.cart {
  padding-top: 41px;
  padding-right: 32px;
  float: right;
}

.promo {
  max-width: 1400px;
  height: 320px;
  background-color: #f6f6f6;
  box-shadow: -1px 6px 12px 0px #00000040;
  margin-top: 59px;
  margin-left: 48px;
  border-radius: 5px;
}

.promo_list {
  padding-top: 43px;
  padding-left: 29px;
}

.promo_list_item {
  padding-top: 15px;
  display: flex;
}

.promo_list_txt {
  font-weight: lighter;
  padding-left: 10px;
}

.promo_list_txt_bold {
  padding-left: 10px;
}
